<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="profile.css" />
</head>

<body>

    <div class="container">

        <div class="content">
            <div class="header">
                <h2>Brian Otieno</h2>
                <img src="brian.jpg" alt="photo of Brian the developer" />
            </div>

            <div class="dev-info">
                <h3>About the developer</h3>
                <p>
                    Brian specializes in JavaScript and web development. He began his journey as a developer by integrating enterprise software
                    but he has since shifted his attention to web development. He believes the web -especially mobile web
                    - will have the most impact in the African context where he lives.

                </p>
                <p>
                    Brian is currently pursuing his masters in Information Technology.
                </p>
                <p class="link">&#10140 Back to full profile.</p>
            </div>
        </div>

    </div>


</body>

</html>