<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Buttons</title>
</head>

<body>

    <div class="container">
        <div class="header">
            <h2>Brian Otieno</h2>

        </div>
        <div class="content">
            <h3>About the developer</h3>
            <p>
                Axel specializes in JavaScript and web development. He has been developing web applications since 1995. In 1999, he was technical
                manager at a German Internet startup that later expanded internationally. In 2006, he held his first talk
                on Ajax. In 2010, he received a Ph.D. in Informatics from the University of Munich.
            </p>
            <p>
                Since 2011, he has been blogging at 2ality.com and written several books on JavaScript. He also regularly holds talks and
                trainings about web development.
            </p>
            <p>-> Back to full profile.</p>
        </div>

    </div>


</body>

</html>